* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #313131;
  font-family: 'Calibri', sans-serif;
  background-image: url(images/bas.jpg)
}
.top-nav {
  background-color: rgb(102, 102, 102);
  display: flex;
  height: auto;
  justify-content: left;
  padding: 20px;
  font-family: 'Black Ops One';font-size: 20px;
}

.nav-child {
  margin: 0px 10px;
}

.nav-child:hover {
  border-bottom: solid white;
}

.sec-nav{
  background-color: rgb(85, 71, 71);
  display: flex;
  height: 120px;
  padding: 40px;
  justify-content: space-evenly;
  background-image: url(images/bodybg.jpg);
  background-size: 100% 100%;
}
.logo {
  margin-left: 10px;
  display: flex;
  color: black;
  font-size: 40px;
  font-family: 'Black Ops One';font-size: 50px;
}

.input-field {
  height: 45px;
  width: 400px;
  padding: 0 5px 0 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  transition: .2s ease;
}
.search {
  display: flex;
}
.body {
  background-color: rgb(163, 163, 163);
  margin-right: auto;
  margin-left: auto;
  height: inherit;
  width: 80%;
  font-size: 20px;
  opacity: .8 ;
}
.body-con {
  padding: 20px;
}
.checkbox {
  background-color: aqua;
}
#box {
  margin-top: 60px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
.container {
  height: 70px;
  display: flex;
  margin: 0px 20px;
  background-color: rgb(201, 199, 199);
  gap: 5px;
  border: solid 1px white;
  justify-content: left;
  box-shadow: 0px 2px #888888;
}
.con-1 {
  width: 500px;
  display: flex;
}
.con-2, .con-3, .con-4{
  width: 250px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.quan {
  padding-top: 60px;
  display: flex;
  height: 90px;
}
#num {
  border: solid 1px;
  padding: 0 10px;
}
#num1 {
  border: solid 1px;
  padding: 0 20px;
}
.container-1, .container-2, .container-3 {
  height: auto;
  display: flex;
  background-color: rgb(201, 199, 199);
  margin: 10px 20px;
  gap: 5px;
  border: solid 1px white;
  justify-content: left;
  box-shadow: 0px 2px #888888;
}
#picture {
  height: 120px;
  width: 200px;
  margin: 10px;
  margin-left: 10px;
 }
 .check {
  margin: auto 0px;
}
.product-1, .product-2 {
  margin: 5px;
  display: flex;
}
.bottom {
  width: 100%;
  height: 100px;
  background-color: rgb(163, 163, 163);
  border: solid 1px black;
}
.total {
  display: flex;  
  float: right;
  gap: 10px;
}
.text {
  font-size: 30px;
  padding: 30px 5px
}
.checkOut {
  width: 250px;
  padding: 17px;
  margin-top: 20px;
  margin-right: 45px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 20px;
}
.checkOut:hover {
  background-color: #313131;
  color: #fff;
  transition: all .3s ease;
}





